<button mat-button [routerLink]="'..'"><i class="fas fa-chevron-left"></i> Transactions</button>

<h1>Transaction</h1>

<ng-container *ngIf="(transaction | async) as transaction; else loadingOrError">
  <ng-container *ngIf="(networkProperties | async) as props">

    <h2>{{ transaction.blockNumber + '-' + transaction.extrinsicIdx}}</h2>

    <table class="detail-table">
      <tbody>

      <tr>
        <td class="detail-table--label-cell">Block</td>
        <td><a [routerLink]="'../../block/' + transaction.blockNumber">{{transaction.blockNumber}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Timestamp</td>
        <td>{{transaction.blockDatetime | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Timestamp UTC</td>
        <td>{{transaction.blockDatetime | date:'dd-MM-yyyy HH:mm:ss' :'UTC'}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Transaction Index</td>
        <td>{{transaction.extrinsicIdx}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Transaction hash</td>
        <td>{{transaction.hash}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Pallet</td>
        <td><a [routerLink]="'../../runtime/' + transaction.specName + '-' + transaction.specVersion + '/pallet/' + transaction.callModule">{{transaction.callModule}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Call name</td>
        <td><a [routerLink]="'../../runtime/' + transaction.specName + '-' + transaction.specVersion + '/pallet/' + transaction.callModule + '/call/' + transaction.callName">{{transaction.callName}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Runtime</td>
        <td><a [routerLink]="'../../runtime/' + transaction.specName + '-' + transaction.specVersion">{{transaction.specName + '-' + transaction.specVersion}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Address</td>
        <td>
          <account-id *ngIf="transaction.multiAddressAccountId" [ss58Prefix]="props.ss58Format"
                      [address]="transaction.multiAddressAccountId"
                      [iconTheme]="props.iconTheme" [iconSize]="32"></account-id>
        </td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Nonce</td>
        <td>{{transaction.nonce}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Signature</td>
        <td class="break-word">{{transaction.signature}}</td>
      </tr>

      <tr *ngIf="(callArguments | async) as callArguments">
        <td class="detail-table--label-cell">Call arguments</td>
        <td>
          <attributes [attributes]="$any(callArguments)" [iconTheme]="props.iconTheme" [iconSize]="24"
                      [tokenDecimals]="props.tokenDecimals" [tokenSymbol]="props.tokenSymbol"
                      [ss58Prefix]="props.ss58Format"></attributes>
        </td>
      </tr>

      </tbody>
    </table>

    <mat-divider></mat-divider>

    <mat-tab-group dynamicHeight animationDuration="0ms">
      <mat-tab label="Events">

        <table mat-table [dataSource]="(events | async) || []" [trackBy]="trackEvent" class="mat-table--full-width">

          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef>Event ID</th>
            <td mat-cell *matCellDef="let event">
              <a
                [routerLink]="'../../event/' + event.blockNumber + '-' + event.eventIdx">{{event.blockNumber + '-' + event.eventIdx}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="pallet">
            <th mat-header-cell *matHeaderCellDef>Pallet</th>
            <td mat-cell *matCellDef="let event">
              {{event.eventModule}}
            </td>
          </ng-container>

          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef>Event</th>
            <td mat-cell *matCellDef="let event">
              {{event.eventName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
            <td mat-cell *matCellDef="let event">
              <a [routerLink]="'../../event/' + event.blockNumber + '-' + event.eventIdx"><span class="material-icons">chevron_right</span></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

        </table>

        <ng-container *ngIf="(fetchEventsStatus | async) as status">
          <p *ngIf="status === 'loading'">Loading...</p>
          <p *ngIf="status === 'error'">Could not fetch transaction events.</p>
        </ng-container>

      </mat-tab>
    </mat-tab-group>


  </ng-container>
</ng-container>

<ng-template #loadingOrError>
  <ng-container *ngIf="(fetchTransactionStatus | async) as status">
    <p *ngIf="status === 'loading'">Loading...</p>
    <p *ngIf="status === 'error'">Could not fetch transaction.</p>
  </ng-container>
</ng-template>
