<a routerLink="..">Back to dashboard</a>
<h1>Logs</h1>

<ng-container *ngIf="(logs | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
          <i class="fas fa-book"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="logID">
      <th mat-header-cell *matHeaderCellDef>Log ID</th>
      <td mat-cell *matCellDef="let log">
        <a [routerLink]="log.blockNumber + '-' + log.logIdx">{{log.blockNumber}}-{{log.logIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let log">
        <a [routerLink]="'../block/' + log.blockNumber">{{log.blockNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let log">
        {{log.typeName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let log">
          <a [routerLink]="log.blockNumber + '-' + log.logIdx">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>
</ng-container>
