<ng-container *ngIf="storage|async as storage; else loading">
  <h1>Storage Function '{{storage.storageName}}'</h1>

  <div>Value type: {{storage.valueScaleType}}</div>
  <div>Default: {{storage.default}}</div>
  <div>Modifier: {{storage.modifier}}</div>
  <div>Key prefix pallet: {{storage.keyPrefixPallet}}</div>
  <div>Key prefix name: {{storage.keyPrefixName}}</div>
  <div>Key 1 type: {{storage.key1ScaleType}}</div>
  <div>Key 1 hasher: {{storage.key1Hasher}}</div>
  <div>Key 2 type: {{storage.key2ScaleType}}</div>
  <div>Key 2 hasher: {{storage.key2Hasher}}</div>
  <div>Linked: {{storage.isLinked}}</div>
  <div>Documentation: {{storage.documentation}}</div>

</ng-container>

<ng-template #loading>
  Loading...
</ng-template>
