<button mat-button [routerLink]="'..'"><i class="fas fa-chevron-left"></i> Inherents</button>

<h1>Inherent</h1>

<ng-container *ngIf="(inherent | async) as inherent; else loadingOrError">
  <ng-container *ngIf="(networkProperties | async) as props">

    <h2>{{inherent.blockNumber + '-' + inherent.extrinsicIdx}}</h2>

    <table class="detail-table">
      <tbody>

      <tr>
        <td class="detail-table--label-cell">Block</td>
        <td><a [routerLink]="'../../block/' + inherent.blockNumber">{{inherent.blockNumber}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Timestamp</td>
        <td>{{inherent.blockDatetime | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Timestamp UTC</td>
        <td>{{inherent.blockDatetime | date:'dd-MM-yyyy HH:mm:ss' :'UTC'}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Inherent Index</td>
        <td>{{inherent.extrinsicIdx}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Pallet</td>
        <td><a [routerLink]="'../../runtime/' + inherent.specName + '-' + inherent.specVersion + '/pallet/' + inherent.callModule">{{inherent.callModule}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Call name</td>
        <td><a [routerLink]="'../../runtime/' + inherent.specName + '-' + inherent.specVersion + '/pallet/' + inherent.callModule + '/call/' + inherent.callName">{{inherent.callName}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Runtime</td>
        <td><a [routerLink]="'../../runtime/' + inherent.specName + '-' + inherent.specVersion">{{inherent.specName + '-' + inherent.specVersion}}</a></td>
      </tr>

      <tr *ngIf="(callArguments | async) as arguments">
        <td class="detail-table--label-cell">Call Arguments</td>
        <td>
          <attributes [attributes]="arguments" [iconTheme]="props.iconTheme" [iconSize]="24"
                      [tokenDecimals]="props.tokenDecimals" [tokenSymbol]="props.tokenSymbol"
                      [ss58Prefix]="props.ss58Format"></attributes>
        </td>
      </tr>

      </tbody>
    </table>

    <mat-divider></mat-divider>

    <mat-tab-group dynamicHeight animationDuration="0ms">
      <mat-tab label="Events">

        <table mat-table [dataSource]="$any((events | async))" [trackBy]="trackEvent" class="mat-table--full-width">

          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef>Event ID</th>
            <td mat-cell *matCellDef="let event">
              <a
                [routerLink]="'../../event/' + event.blockNumber + '-' + event.eventIdx">{{event.blockNumber + '-' + event.eventIdx}}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="pallet">
            <th mat-header-cell *matHeaderCellDef>Pallet</th>
            <td mat-cell *matCellDef="let event">
              {{event.eventModule}}
            </td>
          </ng-container>

          <ng-container matColumnDef="event">
            <th mat-header-cell *matHeaderCellDef>Event</th>
            <td mat-cell *matCellDef="let event">
              {{event.eventName}}
            </td>
          </ng-container>

          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
            <td mat-cell *matCellDef="let event">
              <a [routerLink]="'../../event/' + event.blockNumber + '-' + event.eventIdx"><span class="material-icons">chevron_right</span></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

        </table>

        <ng-container *ngIf="(fetchEventsStatus | async) as status">
          <p *ngIf="status === 'loading'">Loading...</p>
          <p *ngIf="status === 'error'">Could not fetch inherent events.</p>
        </ng-container>

      </mat-tab>
    </mat-tab-group>
  </ng-container>
</ng-container>

<ng-template #loadingOrError>
  <ng-container *ngIf="(fetchInherentStatus | async) as status">
    <p *ngIf="status === 'loading'">Loading...</p>
    <p *ngIf="status === 'error'">Could not fetch inherent.</p>
  </ng-container>
</ng-template>
