<h1>Transactions</h1>

<ng-container *ngIf="(networkProperties | async) as props">

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Pallet</mat-label>
      <mat-select [formControl]="palletControl">
        <mat-option [value]="''">All pallets</mat-option>
        <mat-option *ngFor="let item of transactionFilters | keyvalue" [value]="item.key.pallet">
          {{item.key.pallet}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Call</mat-label>
      <mat-select [formControl]="callNameControl">
        <mat-option [value]="''">All calls</mat-option>
        <ng-container *ngFor="let item of transactionFilters | keyvalue">
          <ng-container *ngIf="item.key.pallet === palletControl.value">
            <mat-option *ngFor="let call of item.value" [value]="call.callName">
              {{call.callName}}
            </mat-option>
          </ng-container>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="(itemsObservable | async) as dataSource">
    <table mat-table [dataSource]="dataSource" [trackBy]="track">

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef class="mat-cell--icon-cell"></th>
        <td mat-cell *matCellDef>
          <i class="fas fa-file-signature"></i>
        </td>
      </ng-container>

      <ng-container matColumnDef="transactionID">
        <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
        <td mat-cell *matCellDef="let transaction">
          <a [routerLink]="transaction.blockNumber + '-' + transaction.extrinsicIdx">{{transaction.blockNumber + '-' + transaction.extrinsicIdx}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let transaction">
          <time-ago [value]="transaction.blockDatetime"></time-ago>
        </td>
      </ng-container>

      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef>From</th>
        <td mat-cell *matCellDef="let transaction">
          <account-id [address]="transaction.multiAddressAccountId" [iconTheme]="props.iconTheme" [iconSize]="16"
                      [ss58Prefix]="props.ss58Format"></account-id>
        </td>
      </ng-container>

      <ng-container matColumnDef="block">
        <th mat-header-cell *matHeaderCellDef>Block</th>
        <td mat-cell *matCellDef="let transaction">
          <a [routerLink]="'../block/' + transaction.blockNumber">{{transaction.blockNumber}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="pallet">
        <th mat-header-cell *matHeaderCellDef>Pallet</th>
        <td mat-cell *matCellDef="let transaction">
          {{transaction.callModule}}
        </td>
      </ng-container>

      <ng-container matColumnDef="call">
        <th mat-header-cell *matHeaderCellDef>Call</th>
        <td mat-cell *matCellDef="let transaction">
          {{transaction.callName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
        <td mat-cell *matCellDef="let transaction">
          <a [routerLink]="transaction.blockNumber + '-' + transaction.extrinsicIdx"><span class="material-icons">chevron_right</span></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

    </table>
  </ng-container>

  <div *ngIf="loadingObservable | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <button [disabled]="(((loadingObservable | async) || 0) > 0) || (!pagePrev && pageLive)" mat-stroked-button
          aria-label="Previous" (click)="getPrevPage()">Previous
  </button>
  <button [disabled]="(((loadingObservable | async) || 0) > 0) || !pageNext" mat-stroked-button aria-label="Next"
          (click)="getNextPage()">Next
  </button>

</ng-container>
