<h1>Transactions</h1>
<div class="ps-grid ps-transaction-grid">
  <div class="ps-grid-header-column">
  </div>
  <div class="ps-grid-header-column">
    Transaction ID
  </div>
  <div class="ps-grid-header-column">
    From
  </div>
  <div class="ps-grid-header-column">
    Block
  </div>
  <div class="ps-grid-header-column">
    Module
  </div>
  <div class="ps-grid-header-column">
    Call
  </div>
  <div class="ps-grid-header-column">
    Success
  </div>
  <div class="ps-grid-header-column">
  </div>

  <ng-container *ngFor="let transaction of [1, 2]">
    <div class="ps-grid-column">
      <i class="fas fa-file-signature"></i>
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="['id']" [title]="'id'">0xa26896acf267b068d5b9554d4bfdcdfac04ef5e5a5a4d068cce0c0b3c2382eea</a>
    </div>
    <div class="ps-grid-column">
      <identicon value="0xa26896acf267b068d5b9554d4bfdcdfac04ef5e5a5a4d068cce0c0b3c2382eea" theme="polkadot" [size]="64"></identicon>
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="['../block', 'id']" [title]="3351695">3351695</a>
    </div>
    <div class="ps-grid-column">
      balances
    </div>
    <div class="ps-grid-column">
      transfer
    </div>
    <div class="ps-grid-column">

    </div>
    <div class="ps-grid-column">
    </div>
  </ng-container>

</div>
