<a routerLink="..">Back to dashboard</a>
<h1>Transactions</h1>

<div>
  <select [formControl]="palletControl">
    <option [ngValue]="''">All pallets</option>
    <option *ngFor="let item of filters | keyvalue" [ngValue]="item.key.pallet">{{item.key.pallet}}</option>
  </select>
  <select [formControl]="callNameControl">
    <option [ngValue]="''">All calls</option>
    <ng-container *ngFor="let item of filters | keyvalue">
      <ng-container *ngIf="item.key.pallet === palletControl.value">
        <option *ngFor="let call of item.value" [ngValue]="call.callName">{{call.callName}}</option>
      </ng-container>
    </ng-container>
  </select>
</div>

<ng-container *ngIf="(transactions | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
          <i class="fas fa-file-signature"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionID">
      <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
      <td mat-cell *matCellDef="let transaction">
        <a [routerLink]="transaction.blockNumber + '-' + transaction.extrinsicIdx">{{transaction.blockNumber}}-{{transaction.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let transaction">
        <a *ngIf="transaction.multiAddressAccountId" [routerLink]="'../address/' + transaction.multiAddressAccountId">
        <identicon [value]="transaction.multiAddressAccountId" [theme]="'polkadot'" [size]="16"></identicon>
        {{ transaction.multiAddressAccountId }}
      </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let transaction">
        <a [routerLink]="'../block/' + transaction.blockNumber">{{transaction.blockNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let transaction">
        {{transaction.callModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="call">
      <th mat-header-cell *matHeaderCellDef>Call</th>
      <td mat-cell *matCellDef="let transaction">
        {{transaction.callName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="success">
      <th mat-header-cell *matHeaderCellDef>Success</th>
      <td mat-cell *matCellDef="let transaction">
        <!-- TODO build me -->
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let transaction">
          <a [routerLink]="transaction.blockNumber + '-' + transaction.extrinsicIdx">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>
</ng-container>
