<button mat-button [routerLink]="'..'"><i class="fas fa-chevron-left"></i> Transfers</button>

<h1>Balance transfer</h1>

<ng-container *ngIf="(transfer | async) as transfer; else loadingOrError">
  <ng-container *ngIf="(networkProperties | async) as props">

    <h2>{{transfer.blockNumber + '-' + transfer.eventIdx}}</h2>

    <table class="detail-table">
      <tbody>

      <tr>
        <td class="detail-table--label-cell">Block</td>
        <td><a [routerLink]="'../../../block/' + transfer.blockNumber">{{transfer.blockNumber}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Event Index</td>
        <td>{{transfer.eventIdx}}</td>
      </tr>

      <tr *ngIf="transfer.fromMultiAddressAccountId as fromAccountId">
        <td class="detail-table--label-cell">From</td>
        <td>
          <account-id [address]="fromAccountId" [iconTheme]="props.iconTheme" [iconSize]="64" [ss58Prefix]="props.ss58Format"></account-id>
        </td>
      </tr>

      <tr *ngIf="transfer.toMultiAddressAccountId as toAccountId">
        <td class="detail-table--label-cell">To</td>
        <td>
          <account-id [address]="toAccountId" [iconTheme]="props.iconTheme" [iconSize]="64" [ss58Prefix]="props.ss58Format"></account-id>
        </td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Value</td>
        <td><balance [tokenDecimals]="props.tokenDecimals" [tokenSymbol]="props.tokenSymbol" [value]="$any(transfer.value)"></balance></td>
      </tr>

      </tbody>
    </table>

  </ng-container>
</ng-container>

<ng-template #loadingOrError>
  <ng-container *ngIf="(fetchTransferStatus | async) as status">
    <p *ngIf="status === 'loading'">Loading...</p>
    <p *ngIf="status === 'error'">Could not fetch balance transfer.</p>
  </ng-container>
</ng-template>
