<h1>Event</h1>

<ng-container *ngIf="event">
  <ng-container *ngIf="(networkProperties | async) as props">

    <h2>{{event.blockNumber}}-{{event.eventIdx}}</h2>


    <table class="detail-table">
      <tbody>
      <tr>
        <td class="detail-table--label-cell">Block</td>
        <td><a [routerLink]="'../../block/' + event.blockNumber">{{event.blockNumber}}</a></td>
      </tr>

      <!--  <div>Referenced Transaction: <a [routerLink]="'../../transaction/' + event.blockNumber + '-' + event.extrinsicIdx">{{event.blockNumber}}-{{event.extrinsicIdx}}</a></div>-->

      <tr>
        <td class="detail-table--label-cell">Extrinsic</td>
        <td>
          <a [routerLink]="'../../extrinsic/' + event.blockNumber + '-' + event.extrinsicIdx">
            {{event.blockNumber + '-' + event.extrinsicIdx}}
          </a>
        </td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Event Index</td>
        <td>{{event.eventIdx}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Module</td>
        <td>{{event.eventModule}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Event name</td>
        <td>{{event.eventName}}</td>
      </tr>


      <tr *ngIf="event.attributes">
        <td class="detail-table--label-cell">Attributes</td>
        <td>
          <attributes [attributes]="event.attributes" [iconTheme]="'polkadot'" [iconSize]="24"
                      [tokenDecimals]="props.tokenDecimals" [tokenSymbol]="props.tokenSymbol"
                      [ss58Prefix]="props.ss58Format"></attributes>
        </td>
      </tr>

      </tbody>
    </table>

  </ng-container>
</ng-container>
