<div class="last-block" *ngIf="((latestBlockNumber|async) || 0) > 0">
  {{latestBlockNumber|async}}
</div>
<div class="blocks" [@blocksAnimation]="latestBlockNumber|async">
  <div class="block-outer" *ngFor="let block$ of blocks|async; trackBy: trackByNumber">
    <ng-container *ngIf="block$|async as block">
      <a class="block-inner" [class.finalized]="block.finalized" [routerLink]="'block/' + block.number">
        <!-- TODO fees and weight visualization -->
        <span class="number">{{block.number}}</span>
        <span class="transaction" *ngFor="let i of block.extrinsics"></span>
        <span class="event" *ngFor="let i of block.events"></span>
      </a>
    </ng-container>
  </div>
</div>
<div><a routerLink="block">View blocks</a></div>
<div><a routerLink="event">View events</a></div>
<div><a routerLink="extrinsic">View extrinsics</a></div>
<div><a routerLink="inherent">View inherents</a></div>
<div><a routerLink="transaction">View transactions</a></div>
<div><a routerLink="runtime">View runtime history</a></div>
<div><a routerLink="log">View logs</a></div>
<div><a routerLink="balances/transfer">View transfers</a></div>
