.ps-pallet-calls-grid {
  grid-template-columns: [icon] 40px [name] auto [lookup] minmax(120px, 180px) [arguments] minmax(120px, auto) [details] 100px;
}

.ps-pallet-events-grid {
  grid-template-columns: [icon] 40px [name] auto [type] minmax(120px, 180px) [attributes] minmax(120px, auto) [details] 100px;
}

.ps-pallet-storage-grid {
  grid-template-columns: [icon] 40px [name] auto [type] minmax(120px, auto) [details] 100px;
}

.ps-pallet-constants-grid {
  grid-template-columns: [icon] 40px [name] auto [type] minmax(120px, 180px) [value] minmax(90px, auto)[details] 100px;
}

.ps-pallet-types-grid {
  grid-template-columns: [icon] 40px [name] auto [decoder] minmax(120px, 180px) [coreprimitive] minmax(90px, auto) [runtimeprimitive] minmax(90px, auto);
}

.ps-pallet-errors-grid {
  grid-template-columns: [icon] 40px [name] auto [index] minmax(120px, 180px) [description] minmax(90px, auto);
}
