<a routerLink="..">Back to dashboard</a>
<h1>Inherents</h1>

<div>
  <select [formControl]="palletControl">
    <option [ngValue]="''">All pallets</option>
    <option *ngFor="let item of filters | keyvalue" [ngValue]="item.key.pallet">{{item.key.pallet}}</option>
  </select>
  <select [formControl]="callNameControl">
    <option [ngValue]="''">All calls</option>
    <ng-container *ngFor="let item of filters | keyvalue">
      <ng-container *ngIf="item.key.pallet === palletControl.value">
        <option *ngFor="let call of item.value" [ngValue]="call.callName">{{call.callName}}</option>
      </ng-container>
    </ng-container>
  </select>
</div>

<ng-container *ngIf="(inherents | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
          <i class="fas fa-file-signature"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="inherentID">
      <th mat-header-cell *matHeaderCellDef>Inherent ID</th>
      <td mat-cell *matCellDef="let inherent">
        <a [routerLink]="inherent.blockNumber + '-' + inherent.extrinsicIdx">{{inherent.blockNumber}}-{{inherent.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let inherent">
        <a [routerLink]="'../block/' + inherent.blockNumber">{{inherent.blockNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let inherent">
        {{inherent.callModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="call">
      <th mat-header-cell *matHeaderCellDef>Call</th>
      <td mat-cell *matCellDef="let inherent">
        {{inherent.callName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="success">
      <th mat-header-cell *matHeaderCellDef>Success</th>
      <td mat-cell *matCellDef="let inherent">
        <!-- TODO build me -->
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let inherent">
          <a [routerLink]="inherent.blockNumber + '-' + inherent.extrinsicIdx">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>
</ng-container>
