<h1>Inherents</h1>

<!--<div>-->
<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Pallet</mat-label>-->
<!--    <mat-select [formControl]="palletControl">-->
<!--      <mat-option [value]="''">All pallets</mat-option>-->
<!--      <mat-option *ngFor="let item of inherentFilters | keyvalue" [value]="item.key.pallet">-->
<!--        {{item.key.pallet}}-->
<!--      </mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Call</mat-label>-->
<!--    <mat-select [formControl]="callNameControl">-->
<!--      <mat-option [value]="''">All calls</mat-option>-->
<!--      <ng-container *ngFor="let item of inherentFilters | keyvalue">-->
<!--        <ng-container *ngIf="item.key.pallet === palletControl.value">-->
<!--          <mat-option *ngFor="let call of item.value" [value]="call.callName">-->
<!--            {{call.callName}}-->
<!--          </mat-option>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->

<ng-container *ngIf="(itemsObservable | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--icon-cell"></th>
      <td mat-cell *matCellDef>
          <i class="fas fa-file-signature"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="inherentID">
      <th mat-header-cell *matHeaderCellDef>Inherent ID</th>
      <td mat-cell *matCellDef="let inherent">
        <a [routerLink]="inherent.blockNumber + '-' + inherent.extrinsicIdx">{{inherent.blockNumber + '-' + inherent.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let inherent">
        <time-ago [value]="inherent.blockDatetime"></time-ago>
      </td>
    </ng-container>

    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let inherent">
        <a [routerLink]="'../block/' + inherent.blockNumber">{{inherent.blockNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let inherent">
        {{inherent.callModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="call">
      <th mat-header-cell *matHeaderCellDef>Call</th>
      <td mat-cell *matCellDef="let inherent">
        {{inherent.callName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
      <td mat-cell *matCellDef="let inherent">
          <a [routerLink]="inherent.blockNumber + '-' + inherent.extrinsicIdx"><span class="material-icons">chevron_right</span></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

  </table>
</ng-container>

<div *ngIf="loadingObservable | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<button [disabled]="(((loadingObservable | async) || 0) > 0) || (!pagePrev && pageLive)" mat-stroked-button aria-label="Previous" (click)="getPrevPage()">Previous</button>
<button [disabled]="(((loadingObservable | async) || 0) > 0) || !pageNext" mat-stroked-button aria-label="Next" (click)="getNextPage()">Next</button>
