<ng-container *ngFor="let attribute of parsedAttributes">
  {{attribute | json}}


<!--  <ng-container [ngSwitch]="attribute.type">-->

<!--    <attribute-address *ngSwitchCase="'Address'" [attribute]="attribute"></attribute-address>-->
<!--    <attribute-address *ngSwitchCase="'AuthorityId'" [attribute]="attribute"></attribute-address>-->
<!--    <attribute-address *ngSwitchCase="'<Lookup as StaticLookup>::Source'" [attribute]="attribute"></attribute-address>-->
<!--    <attribute-address *ngSwitchCase="'AccountId'" [attribute]="attribute"></attribute-address>-->

<!--    <attribute-proposal *ngSwitchCase="'PropIndex'" [attribute]="attribute"></attribute-proposal>-->

<!--    <attribute-referendum *ngSwitchCase="'ReferendumIndex'" [attribute]="attribute"></attribute-referendum>-->
<!--    <attribute-referendum *ngSwitchCase="'Compact<ReferendumIndex>'" [attribute]="attribute"></attribute-referendum>-->

<!--    <attribute-session *ngSwitchCase="'SessionIndex'" [attribute]="attribute"></attribute-session>-->

<!--    <attribute-block *ngSwitchCase="'BlockNumber'" [attribute]="attribute"></attribute-block>-->

<!--    <attribute-account-index *ngSwitchCase="'AccountIndex'" [attribute]="attribute"></attribute-account-index>-->

<!--    <attribute-ethereum-address *ngSwitchCase="'EthereumAddress'" [attribute]="attribute"></attribute-ethereum-address>-->

<!--    <attribute-balance *ngSwitchCase="'Balance'" [attribute]="attribute"></attribute-balance>-->
<!--    <attribute-balance *ngSwitchCase="'Compact<Balance>'" [attribute]="attribute"></attribute-balance>-->
<!--    <attribute-balance *ngSwitchCase="'Compact<BalanceOf>'" [attribute]="attribute"></attribute-balance>-->

<!--    <attribute-date *ngSwitchCase="'Compact<Moment>'" [attribute]="attribute"></attribute-date>-->

<!--    <attribute-bytes *ngSwitchCase="'Bytes'" [attribute]="attribute"></attribute-bytes>-->

<!--    <attribute-downloadable *ngSwitchCase="'DownloadableBytesHash'" [attribute]="attribute"></attribute-downloadable>-->

<!--    <attribute-boolean *ngSwitchCase="'bool'" [attribute]="attribute"></attribute-boolean>-->

<!--    <attribute-struct *ngSwitchDefault [attribute]="attribute"></attribute-struct>-->

<!--  </ng-container>-->
</ng-container>
