<div class="attribute" *ngFor="let attribute of parsedAttributes">
  <ng-container [ngSwitch]="attribute.type">

    <attribute-address *ngSwitchCase="'Address'" [attribute]="attribute" [iconTheme]="iconTheme" [iconSize]="iconSize"
                       (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-address>
    <attribute-address *ngSwitchCase="'AuthorityId'" [attribute]="attribute" [iconTheme]="iconTheme"
                       [iconSize]="iconSize"
                       (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-address>
    <attribute-address *ngSwitchCase="'<Lookup as StaticLookup>::Source'" [attribute]="attribute"
                       [iconTheme]="iconTheme" [iconSize]="iconSize"
                       (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-address>
    <attribute-address *ngSwitchCase="'AccountId'" [attribute]="attribute" [iconTheme]="iconTheme"
                       [iconSize]="iconSize"
                       (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-address>

    <attribute-proposal *ngSwitchCase="'PropIndex'" [attribute]="attribute"
                        (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-proposal>

    <attribute-referendum *ngSwitchCase="'ReferendumIndex'" [attribute]="attribute"
                          (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-referendum>
    <attribute-referendum *ngSwitchCase="'Compact<ReferendumIndex>'" [attribute]="attribute"
                          (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-referendum>

    <attribute-session *ngSwitchCase="'SessionIndex'" [attribute]="attribute"
                       (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-session>

    <attribute-block *ngSwitchCase="'BlockNumber'" [attribute]="attribute"
                     (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-block>

    <attribute-account-index *ngSwitchCase="'AccountIndex'" [attribute]="attribute"
                             (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-account-index>

    <attribute-ethereum-address *ngSwitchCase="'EthereumAddress'" [attribute]="attribute"
                                [iconSize]="iconSize"
                                (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-ethereum-address>

    <attribute-balance *ngSwitchCase="'Balance'" [attribute]="attribute" [tokenDecimals]="tokenDecimals"
                       [tokenSymbol]="tokenSymbol"></attribute-balance>
    <attribute-balance *ngSwitchCase="'Compact<Balance>'" [attribute]="attribute"></attribute-balance>
    <attribute-balance *ngSwitchCase="'Compact<BalanceOf>'" [attribute]="attribute"></attribute-balance>

    <attribute-date *ngSwitchCase="'Compact<Moment>'" [attribute]="attribute"></attribute-date>

    <attribute-bytes *ngSwitchCase="'Bytes'" [attribute]="attribute"></attribute-bytes>

    <attribute-downloadable *ngSwitchCase="'DownloadableBytesHash'" [attribute]="attribute"
                            (clicked)="clicked.next({ type: attribute.type, value: $event })"></attribute-downloadable>

    <attribute-boolean *ngSwitchCase="'bool'" [attribute]="attribute"></attribute-boolean>

    <attribute-struct *ngSwitchDefault [attribute]="attribute" [iconTheme]="iconTheme" [iconSize]="iconSize" [tokenDecimals]="tokenDecimals"
                       [tokenSymbol]="tokenSymbol" (clicked)="clicked.next($event)"></attribute-struct>

  </ng-container>
</div>
