<button mat-button [routerLink]="'..'"><i class="fas fa-chevron-left"></i> Logs</button>

<h1>Log</h1>

<ng-container *ngIf="log">
  <ng-container *ngIf="(networkProperties | async) as props">

    <h2>{{log.blockNumber + '-' + log.logIdx}}</h2>

    <table class="detail-table">
      <tbody>

      <tr>
        <td class="detail-table--label-cell">Block</td>
        <td><a [routerLink]="'../../block/' + log.blockNumber">{{log.blockNumber}}</a></td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Log Index</td>
        <td>{{log.logIdx}}</td>
      </tr>

      <tr>
        <td class="detail-table--label-cell">Type</td>
        <td>{{log.typeName}}</td>
      </tr>

      <tr *ngIf="log.data">
        <td class="detail-table--label-cell">Data</td>
        <td>
          <attribute-struct [attribute]="log.data" [iconTheme]="'polkadot'" [iconSize]="24"
                            [tokenDecimals]="props.tokenDecimals"
                            [tokenSymbol]="props.tokenSymbol"></attribute-struct>
        </td>
      </tr>

      </tbody>
    </table>

  </ng-container>
</ng-container>
