<h1>Events</h1>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Pallet</mat-label>
    <mat-select [formControl]="palletControl">
      <mat-option [value]="''">All pallets</mat-option>
      <mat-option *ngFor="let item of eventFilters | keyvalue" [value]="item.key.pallet">
        {{item.key.pallet}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event</mat-label>
    <mat-select [formControl]="eventNameControl">
      <mat-option [value]="''">All events</mat-option>
      <ng-container *ngFor="let item of eventFilters | keyvalue">
        <ng-container *ngIf="item.key.pallet === palletControl.value">
          <mat-option *ngFor="let event of item.value" [value]="event.eventName">
            {{event.eventName}}
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<ng-container *ngIf="(itemsObservable | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--icon-cell"></th>
      <td mat-cell *matCellDef>
        <i class="fas fa-calendar-check"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="eventID">
      <th mat-header-cell *matHeaderCellDef>Event ID</th>
      <td mat-cell *matCellDef="let event">
        <a [routerLink]="event.blockNumber + '-' + event.eventIdx">{{event.blockNumber + '-' + event.eventIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let event">
        <time-ago [value]="event.blockDatetime"></time-ago>
      </td>
    </ng-container>

    <ng-container matColumnDef="referencedTransaction">
      <th mat-header-cell *matHeaderCellDef>Referenced Transaction</th>
      <td mat-cell *matCellDef="let event">
        <a *ngIf="event.extrinsicIdx !== null" [routerLink]="'../transaction/' + event.blockNumber + '-' + event.extrinsicIdx">{{event.blockNumber}}
          -{{event.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let event">
        {{event.eventPallet || event.eventModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="events">
      <th mat-header-cell *matHeaderCellDef>Events</th>
      <td mat-cell *matCellDef="let event">
        {{event.eventName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
      <td mat-cell *matCellDef="let event">
        <a [routerLink]="event.blockNumber + '-' + event.eventIdx"><span class="material-icons">chevron_right</span></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

  </table>
</ng-container>

<div *ngIf="loadingObservable | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<button [disabled]="(((loadingObservable | async) || 0) > 0) || (!pagePrev && pageLive)" mat-stroked-button aria-label="Previous" (click)="getPrevPage()">Previous</button>
<button [disabled]="(((loadingObservable | async) || 0) > 0) || !pageNext" mat-stroked-button aria-label="Next" (click)="getNextPage()">Next</button>
