<a routerLink="..">Back to dashboard</a>
<h1>Event</h1>

<div class="ps-grid-filters">
  <select [formControl]="eventModuleControl">
    <option [ngValue]="null">All modules</option>
    <option *ngFor="let item of filters | keyvalue" [ngValue]="item.key">{{item.key}}</option>
  </select>
  <select [formControl]="eventNameControl">
    <option [ngValue]="null">All event</option>
    <ng-container *ngFor="let item of filters | keyvalue">
      <ng-container *ngIf="item.key === eventModuleControl.value">
        <option *ngFor="let eventName of item.value" [ngValue]="eventName">{{eventName}}</option>
      </ng-container>
    </ng-container>
  </select>
</div>

<div class="ps-grid ps-event-grid">
  <div class="ps-grid-header-column"></div>
  <div class="ps-grid-header-column">Event ID</div>
  <div class="ps-grid-header-column">Block</div>
  <div class="ps-grid-header-column">Referenced Transaction</div>
  <div class="ps-grid-header-column">Module</div>
  <div class="ps-grid-header-column">Events</div>
  <div class="ps-grid-header-column"></div>
  <div class="ps-grid-row" *ngFor="let event of events; trackBy: trackByIdFn">
    <div class="ps-grid-column">
      <i class="fas fa-calendar-check"></i>
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="event.blockNumber + '-' + event.eventIdx">{{event.blockNumber}}-{{event.eventIdx}}</a>
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="'../block/' + event.blockNumber">{{event.blockNumber}}</a>
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="'../transaction/' + event.blockNumber + '-' + event.extrinsicIdx">{{event.blockNumber}}-{{event.extrinsicIdx}}</a>
    </div>
    <div class="ps-grid-column">
      {{event.eventModule}}
    </div>
    <div class="ps-grid-column">
      {{event.eventName}}
    </div>
    <div class="ps-grid-column">
      <a [routerLink]="event.blockNumber + '-' + event.eventIdx">Details</a>
    </div>
  </div>
</div>
