<h1>Events</h1>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Pallet</mat-label>
    <mat-select [formControl]="palletControl">
      <mat-option [value]="''">All pallets</mat-option>
      <mat-option *ngFor="let item of eventFilters | keyvalue" [value]="item.key.pallet">
        {{item.key.pallet}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Event</mat-label>
    <mat-select [formControl]="eventNameControl">
      <mat-option [value]="''">All events</mat-option>
      <ng-container *ngFor="let item of eventFilters | keyvalue">
        <ng-container *ngIf="item.key.pallet === palletControl.value">
          <mat-option *ngFor="let event of item.value" [value]="event.eventName">
            {{event.eventName}}
          </mat-option>
        </ng-container>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="centered-button-bar" *ngIf="(pageLiveObservable | async) === false">
  <button [disabled]="loadingObservable | async" mat-stroked-button
          aria-label="To live data" (click)="gotoLatestItems()">
    Goto latest
    <mat-icon>change_circle</mat-icon>
  </button>
</div>

<ng-container *ngIf="(itemsObservable | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--icon-cell"></th>
      <td mat-cell *matCellDef>
        <i class="fas fa-calendar-check"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="eventID">
      <th mat-header-cell *matHeaderCellDef>Event ID</th>
      <td mat-cell *matCellDef="let event">
        <a [routerLink]="event.blockNumber + '-' + event.eventIdx">{{event.blockNumber + '-' + event.eventIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let event">
        <time-ago [value]="event.blockDatetime"></time-ago>
      </td>
    </ng-container>

    <ng-container matColumnDef="referencedTransaction">
      <th mat-header-cell *matHeaderCellDef>Referenced Transaction</th>
      <td mat-cell *matCellDef="let event">
        <a *ngIf="event.extrinsicIdx !== null" [routerLink]="'../transaction/' + event.blockNumber + '-' + event.extrinsicIdx">{{event.blockNumber + '-' + event.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let event">
        {{event.eventPallet || event.eventModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="events">
      <th mat-header-cell *matHeaderCellDef>Events</th>
      <td mat-cell *matCellDef="let event">
        {{event.eventName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef class="mat-cell--details-link-cell"></th>
      <td mat-cell *matCellDef="let event">
        <a [routerLink]="event.blockNumber + '-' + event.eventIdx"><span class="material-icons">chevron_right</span></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: visibleColumns"></tr>

  </table>

  <div *ngIf="(loadingObservable | async) === false && dataSource.length === 0">
    <ng-container *ngSwitch="pageLiveObservable | async">
      <ng-container *ngSwitchCase="true">
        No items. Waiting for new blocks.
      </ng-container>
      <ng-container *ngSwitchDefault>
        No items found.
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<div *ngIf="loadingObservable | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div>
  <ng-container *ngIf="(historyAvailableObservable | async)">
    <button [disabled]="(loadingObservable | async)" mat-stroked-button aria-label="Next" (click)="loadMoreItems()">
      Load more <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="(pageLiveObservable | async) === false && searchInfo.fromBlock">
    Blocks {{ searchInfo.fromBlock }} - {{ searchInfo.toBlock }}.
  </ng-container>
</div>
