<a routerLink="..">Back to dashboard</a>
<h1>Extrinsics</h1>

<div>
  <mat-checkbox [formControl]="signedControl">Signed only</mat-checkbox>
</div>

<ng-container *ngIf="(extrinsics | async) as dataSource">
  <table mat-table [dataSource]="dataSource" [trackBy]="track">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef>
          <i class="fas fa-file-signature"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="extrinsicID">
      <th mat-header-cell *matHeaderCellDef>Extrinsic ID</th>
      <td mat-cell *matCellDef="let extrinsic">
        <a [routerLink]="extrinsic.blockNumber + '-' + extrinsic.extrinsicIdx">{{extrinsic.blockNumber}}-{{extrinsic.extrinsicIdx}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef>Block</th>
      <td mat-cell *matCellDef="let extrinsic">
        <a [routerLink]="'../block/' + extrinsic.blockNumber">{{extrinsic.blockNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pallet">
      <th mat-header-cell *matHeaderCellDef>Pallet</th>
      <td mat-cell *matCellDef="let extrinsic">
        {{extrinsic.callModule}}
      </td>
    </ng-container>

    <ng-container matColumnDef="call">
      <th mat-header-cell *matHeaderCellDef>Call</th>
      <td mat-cell *matCellDef="let extrinsic">
        {{extrinsic.callName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="signed">
      <th mat-header-cell *matHeaderCellDef>Signed</th>
      <td mat-cell *matCellDef="let extrinsic">
        {{extrinsic.signed}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let extrinsic">
          <a [routerLink]="extrinsic.blockNumber + '-' + extrinsic.extrinsicIdx">Details</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

  </table>
</ng-container>

<div *ngIf="loadingObservable | async">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<button [disabled]="((loadingObservable | async) || 0) > 0 || !nextPage" mat-stroked-button aria-label="Show more" (click)="getNextPage()">Show more</button>
