{
  "polkadot": {
    "substrateRpcUrlArray": ${POLKADOT_SUBSTRATE_RPC_URL_ARRAY},
    "polkascanWsUrlArray": ${POLKADOT_POLKASCAN_WS_URL_ARRAY}
  },
  "kusama": {
    "substrateRpcUrlArray": ${KUSAMA_SUBSTRATE_RPC_URL_ARRAY},
    "polkascanWsUrlArray": ${KUSAMA_POLKASCAN_WS_URL_ARRAY}
  },
  "rococo": {
    "substrateRpcUrlArray": ${ROCOCO_SUBSTRATE_RPC_URL_ARRAY},
    "polkascanWsUrlArray": ${ROCOCO_POLKASCAN_WS_URL_ARRAY}
  }
}
