/* You can add global styles to this file, and also import other style files */

:root {
  --ps-top-bar-bg-color: #000;
  --ps-grid-column-padding: 10px;
}

body, html {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.ps-grid {
  display: grid;
  border: solid 1px rgba(0,0,0,0.1);
  max-width: 1560px;
}

.ps-grid-header-column {
  font-weight: bold;
  padding: var(--ps-grid-column-padding);
  border-bottom: solid 2px rgba(0,0,0,0.2);
}

.ps-grid-column {
  overflow: hidden;
  padding: var(--ps-grid-column-padding);
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

.ps-grid-row {
  display: contents;

  &:nth-child(2n-1) {
    .ps-grid-column {
      background: rgba(0,0,0,0.05);
    }
  }
}

attribute-struct {
  label {
    font-style: italic;
  }

  child-attributes,
  attribute-struct {
    margin-left: 8px;
    display: block;
  }
}
