<a routerLink="..">Back to list</a>
<ng-container *ngIf="block|async as block; else initializing">
  <h1>Block {{block.number}}</h1>

  <ng-container *ngIf="headNumber|async as headNumber; else initializing">

    <ng-container *ngIf="block.number <= headNumber; else futureBlock">

      <ng-container *ngIf="block.status === 'loaded'; else loadingBlock">

        <table class="detail-table full-width-table">
          <tbody>

          <tr>
            <th>Timestamp</th>
            <td>{{block.datetime|date:'medium'}}</td>
          </tr>

          <tr>
            <th>Hash</th>
            <td>{{block.hash}}</td>
          </tr>

          <tr *ngIf="block.parentHash">
            <th>Parent hash</th>
            <td><a [routerLink]="'../../block/' + (block.number - 1)">{{block.parentHash}}</a></td>
          </tr>

          <tr>
            <th>State root</th>
            <td>{{block.stateRoot}}</td>
          </tr>

          <tr>
            <th>Extrinsics root</th>
            <td>{{block.extrinsicsRoot}}</td>
          </tr>

          <tr>
            <th>Extrinsics count</th>
            <td>{{block.extrinsics.length}}</td>
          </tr>

          <tr>
            <th>Events count</th>
            <td>{{block.events.length}}</td>
          </tr>

          <ng-container *ngIf="block.finalized">
            <tr>
              <th>Runtime version</th>
              <td><a [routerLink]="'../../runtime/' + block.specVersion">{{block.specVersion}}</a></td>
            </tr>
          </ng-container>

          </tbody>
        </table>

        <mat-divider></mat-divider>

        <ng-container *ngIf="block.finalized; else nonFinalBlock">

          <mat-tab-group dynamicHeight animationDuration="0ms">
            <mat-tab label="Extrinsics">
              <table class="full-width-table detail-table" *ngIf="extrinsics|async as extrinsics">
                <thead>
                <tr>
                  <th>Extrinsic ID</th>
                  <th>Module</th>
                  <th>Call</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let ext of extrinsics">
                  <tr>
                    <td><a
                      [routerLink]="'../../extrinsic/' + block.number + '-' + ext.extrinsicIdx">{{ block.number }}-{{ext.extrinsicIdx}}</a>
                    </td>
                    <td>{{ext.callModule}}</td>
                    <td>{{ext.callName}}</td>
                    <td><a [routerLink]="'../../extrinsic/' + block.number + '-' + ext.extrinsicIdx">Details</a></td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

            </mat-tab>

            <mat-tab label="Events">
              <table class="full-width-table detail-table" *ngIf="events|async as events">
                <thead>
                <tr>
                  <th>Event ID</th>
                  <th>Extrinsic ID</th>
                  <th>Module</th>
                  <th>Event</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let event of events">
                  <tr>
                    <td><a [routerLink]="'../../event/' + block.number + '-' + event.eventIdx">{{event.eventIdx}}</a>
                    </td>
                    <td><a
                      [routerLink]="'../../extrinsic/' + block.number + '-' + event.extrinsicIdx">{{event.extrinsicIdx}}</a>
                    </td>
                    <td>{{event.eventModule}}</td>
                    <td>{{event.eventName}}</td>
                    <td><a [routerLink]="'../../event/' + block.number + '-' + event.eventIdx">Details</a></td>
                  </tr>
                </ng-container>
                </tbody>
              </table>

            </mat-tab>
          </mat-tab-group>

        </ng-container>

        <ng-template #nonFinalBlock>
          <p>Awaiting finalization...</p>
        </ng-template>

      </ng-container>

      <ng-template #loadingBlock>
        <p>Loading block...</p>
      </ng-template>

    </ng-container>

    <ng-template #futureBlock>
      <p>Block doesn't exist, yet. You can leave this page open and it will appear as soon as it's created.</p>
    </ng-template>

  </ng-container>

</ng-container>

<ng-template #initializing>
  <p>Initializing...</p>
</ng-template>
